/* Regular Rubik */
@font-face {
    font-family: "Roboto";
    src: url(../roboto_static/Roboto-Regular.ttf);
}
/* Bold Roboto */
@font-face {
    font-family: "Roboto-Bold";
    src: url(../roboto_static/Roboto-Bold.ttf);
}

:root{
    --linear-pink: rgba(237, 70, 145, 0.623);
    --linear-purple: rgba(85, 34, 204, 0.733);
    --light-royal-blue: #4943F2;
    --orange-peel: #E57930;
    --carousel-control-btn: #3D37F1;
    --dark-blue: #242565;
    --darker-blue: #13133b;
    --grayish-white: #dfdfdf83;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --gray-font: #C7C7C7;
}

html body{
    display: grid;
    grid-template-rows: 50vh repeat(2, 1fr);
    font-family: "Roboto";
}

header{
    grid-row: 1;
    background-image: linear-gradient(to right, var(--linear-pink), var(--linear-purple)), 
    url("../images/buksu-image.jpg");
    background-position: center;
    background-size: cover;
}

main{
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.login-btn{
    border-radius: 13px;
}

/* For mobile size */
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* html body{
        grid-template-rows: 70vh 1fr 1fr;
    } */
    
    header{
        grid-row: 1;
        display: grid;
        grid-template-rows: 20% 1fr;
    }

    header .upper img{
        width: 8.5rem;
    }

    .menu-icon i{
        color: white;
        font-size: 25px;
    }

    header section{
        grid-row: 2;
    }

    .c-inner, .c-inner, .c-img{
        height: 40vh;
        width: 40vh;
    }

    .c-img{
        filter: brightness(0.7);
    }

    .upper{
        grid-row: 1;
        padding: 2vh 4vw;
    }

    .login-btn{
        font-size: smaller;
        padding: 1px 5px;
        height: 35px;
        width: 60px;
    }

    .carousel-caption h3{
        font-family: "Roboto-Bold";
        font-size: medium;
    }

    /* Main content */
     main{
        grid-template-rows: repeat(2, 1fr);
     }

    main h1, main h3, main h4{
        font-family: "Roboto-Bold";
        color: var(--dark-blue);
    }

    /* Upcoming events section */
    main section:nth-child(1){
        grid-row: 1;
    }

    main section:nth-child(2){
        grid-row: 2;
    }

    main .cards-section p, main .card-body{
        color: var(--darker-blue);
    }

    main .cards-section .card{
        box-shadow: var(--box-shadow);
    }

    main .upcoming-events{
        grid-row: 1;
        padding: 0.6in 0 1rem 2rem;
    }

    main .card{
        width: 18.8rem;
    }

    main .card .card-body{
        padding: 0.2rem 1rem 1.2rem 1rem;
    }

    main .card .card-text{
        font-size: 12px;
    }

    main .card .date{
        line-height: 80%;
    }

    main .card-description h3{
        font-size: 14.5px;
    }

    main .date h3{
        color: var(--light-royal-blue);
        font-size: 13px;
    }

    main .card figure img{
        height: 18.8rem;
        width: 18.8rem;
        object-fit: cover;
    }

    /* Colleges section */
    main section:nth-child(2){
        padding: 1in 0 0 0;
    }

    main section:nth-child(2) figure img{
        height: 80px;
    }

    main section:nth-child(2) .colleges{
        padding: 1rem;
    }

    main section:nth-child(2) p{
        font-size: 12px;
        color: var(--gray-font);
    }
    
    footer{
        grid-row: 3;
        background-color: var(--dark-blue);
    }

}